<po-modal
    #editSalesBudgetModal
    p-title="Editar Item Do Orçamento De Venda"
    p-size="xl"
    class="createSalesBudgetModal">
    <po-dynamic-form
        #salesBudgetEditForm
        [p-fields]="salesBudgetsFields"
        [p-value]="salesBudgetValue">
    </po-dynamic-form>
    <po-modal-footer
        [p-disabled-align]="false">
        <po-button
            [p-danger]="true"
            p-label="Cancelar"
            (p-click)="editSalesBudgetModal.close()">
        </po-button>
        <po-button
            p-kind="primary"
            p-label="Confirmar"
            (p-click)="OnEditSalesBudgetItem()"
            [p-disabled]="salesBudgetEditForm.form.invalid!">
        </po-button>
    </po-modal-footer>
</po-modal>