<po-modal
    #editSalesRequestModal
    p-title="Editar Item Do Pedido De Venda"
    p-size="xl"
    class="createSalesRequestModal">
    <po-dynamic-form
        #salesRequestEditForm
        [p-fields]="salesRequestsFields"
        [p-value]="salesRequestValue">
    </po-dynamic-form>
    <po-modal-footer
        [p-disabled-align]="false">
        <po-button
            [p-danger]="true"
            p-label="Cancelar"
            (p-click)="editSalesRequestModal.close()">
        </po-button>
        <po-button
            p-kind="primary"
            p-label="Confirmar"
            (p-click)="OnEditSalesRequestItem()"
            [p-disabled]="salesRequestEditForm.form.invalid!">
        </po-button>
    </po-modal-footer>
</po-modal>