
<!-- Modal De Inclusão De Cabeçalho -->
<po-modal
    #addSalesBudgetHeaderModal
    p-title="Criar Orçamento De Venda"
    p-size="xl"
    class="salesBudgetModal">
    <po-stepper
        #salesBudgetStepper
        (p-change-step)="onChangeStep($event)">
        <po-step
            p-label="Cabeçalho"
            [p-can-active-next-step]="canActiveNextStep.bind(this)">
            <po-dynamic-form
                #addSalesBudgetHeaderForm
                [p-fields]="salesBudgetFields"
                [p-value]="salesBudgetValue"
                [p-validate]="onChangeFields.bind(this)">
            </po-dynamic-form>
        </po-step>
        <po-step
            [p-can-active-next-step]="canActiveNextStep.bind(this)"
            p-label="Itens">
            <po-divider
                class="po-md-12"
                p-label="Itens">
            </po-divider>
            <po-button
                class="po-md-4 po-mb-3"
                p-label="Adicionar"
                p-kind="primary"
                (p-click)="openItemModal()">
            </po-button>
            <po-table
                #addSalesBudgetItemsTable
                class="po-md-12"
                p-container="true"
                [p-hide-columns-manager]="true"
                [p-sort]="true"
                [p-striped]="true"
                [p-hide-text-overflow]="true"
                [p-actions]="tableActions"
                [p-columns]="tableColumns"
                [p-items]="tableItems">
            </po-table>
        </po-step>
        <po-step
            p-label="Resumo">
            <po-dynamic-view
                [p-fields]="salesBudgetFields"
                [p-value]="salesBudgetValue">
            </po-dynamic-view>
            <po-divider
                p-label="Itens">
            </po-divider>
            <po-table
                #addSalesBudgetItemsTable
                class="po-md-12"
                p-container="true"
                [p-hide-columns-manager]="true"
                [p-sort]="true"
                [p-striped]="true"
                [p-hide-text-overflow]="true"
                [p-columns]="tableColumns"
                [p-items]="tableItems">
            </po-table>
        </po-step>
    </po-stepper>
    <po-modal-footer 
        [p-disabled-align]="false">
        <po-button
          *ngIf="currentStep === 2"
          p-label="Salvar"
          p-kind="primary"
          (p-click)="createSalesBudget()"
          [p-disabled]="isCreateButtonDisabled()">
        </po-button>
      </po-modal-footer>
</po-modal>

<!-- Modal De Inclusão de itens -->
<app-add-sales-budget-item-modal
    #addSalesBudgetItemModal
    (itemCreated)="onSalesBudgetItemCreated($event)">
</app-add-sales-budget-item-modal>

<!-- Modal De Inclusão de itens -->
<app-edit-sales-budget-item-modal
    #editSalesBudgetItemModal
    (itemEdited)="onSalesBudgetItemEdited($event)">
</app-edit-sales-budget-item-modal>