<po-modal #forgotPasswordModal p-title="Esqueceu sua senha?">
    <div p-dialog-message>
        <p>Para recuperar sua senha vamos enviar um SMS com instruções.</p>
    </div>

    <po-radio-group
        name="recoveryOption"
        [(ngModel)]="recoveryOption"
        p-label
        [p-options]="recoveryOptions">
    </po-radio-group>

    <div *ngIf="recoveryOption === 'sms'" class="po-field">
        <po-input
            name="phone"
            p-label="Insira seu número de celular"
            [(ngModel)]="phoneNumber"
            p-mask="(99) 99999-9999"
            p-icon="po-icon-phone"></po-input>
    </div>

    <p class="po-text-small">
        Se não tiver acesso ao telefone contacte o suporte em
        <a href="mailto:support@mail.com" class="po-link">support@mail.com</a>.
    </p>

    <po-modal-footer [p-disabled-align]="false">
        <po-button p-kind="danger" p-label="Cancelar" (p-action)="forgotPasswordModal.close()"> </po-button>
        <po-button p-label="Enviar"> </po-button>
    </po-modal-footer>
</po-modal>
