<po-modal #forgotPasswordModal p-title="Esqueceu sua senha?">
    <div class="po-mt-4 po-text-center po-md-12">
        <p>Informe seu Cpf ou CNPJ cadastrado para receber por email os dados de acesso:</p>

        <po-input
            name="cpf"
            p-label="Cpf/Cnpj"
            [(ngModel)]="cpf"
            p-icon="po-icon-user"
            required>
        </po-input>
    </div>

    <po-modal-footer [p-disabled-align]="false">
        <po-button p-kind="danger" p-label="Cancelar"
            (click)="forgotPasswordModal.close()"> </po-button>
        <po-button
            p-label="Recuperar Senha"
            [p-disabled]="!cpf"
            (click)="sendPasswordRecovery()">
        </po-button>
    </po-modal-footer>
</po-modal>
