<po-modal #forgotPasswordModal p-title="Esqueceu sua senha?">
    <div class="po-mt-4 po-text-center po-md-12">
        <p>Informe seu e-mail cadastrado para enviar um código de
            recuperação:</p>

        <po-input
            name="email"
            p-label="E-mail"
            [(ngModel)]="email"
            p-icon="po-icon-mail"
            type="email"
            required>
        </po-input>
    </div>

    <po-modal-footer [p-disabled-align]="false">
        <po-button p-kind="danger" p-label="Cancelar"
            (click)="forgotPasswordModal.close()"> </po-button>
        <po-button
            p-label="Recuperar Senha"
            [p-disabled]="!email"
            (click)="sendPasswordRecovery()">
        </po-button>
    </po-modal-footer>
</po-modal>
