<po-modal
    #salesBudgetHeaderModal
    [p-title]="isEditMode ? 'Editar Orçamento De Venda' : 'Criar Orçamento De Venda'"
    p-size="xl"
    class="salesBudgetModal">
    <po-dynamic-form
        #salesBudgetHeaderForm
        [p-fields]="salesBudgetFields"
        [p-value]="salesBudgetValue"
        [p-validate]="onChangeFields.bind(this)">
    </po-dynamic-form>
    <po-divider class="po-md-12" p-label="Itens"></po-divider>

    <po-button
        class="po-md-4 po-mb-3"
        p-label="Adicionar"
        p-kind="primary"
        (p-click)="openItemModal()">
    </po-button>

    <po-table
        class="po-md-12"
        p-container="true"
        [p-hide-columns-manager]="true"
        [p-sort]="true"
        [p-striped]="true"
        [p-hide-text-overflow]="true"
        [p-actions]="tableActions"
        [p-columns]="tableColumns"
        [p-items]="tableItems">
    </po-table>

    <!-- Aqui o po-dynamic-view para os totais, baseado no objeto totalizador -->
    <po-dynamic-view
        class="po-mt-4"
        [p-fields]="salesBudgetItemFields"
        [p-value]="salesBudgetItemsSum">
    </po-dynamic-view>

    <po-modal-footer [p-disabled-align]="false">
        <po-button
            p-label="Salvar"
            p-kind="primary"
            (p-click)="onSubmit()"
            [p-disabled]="isSubmitDisabled()">
        </po-button>
    </po-modal-footer>
</po-modal>

<app-sales-budget-item-modal
    #salesBudgetItemModal
    (itemCreated)="onSalesBudgetItemCreated($event)"
    (itemEdited)="onSalesBudgetItemEdited($event)">
</app-sales-budget-item-modal>