<!-- Modal De Inclusão -->
<po-modal
    #addSalesBudgetItemModal
    p-title="Criar Item De Orçamento De Venda"
    p-size="xl"
    class="createsalesBudgetModal">
    <po-dynamic-form
        #salesBudgetAddForm
        [p-fields]="salesBudgetsFields"
        [p-value]="salesBudgetValue">
    </po-dynamic-form>
    <po-modal-footer
        [p-disabled-align]="false">
        <po-button
            [p-danger]="true"
            p-label="Cancelar"
            (p-click)="addSalesBudgetItemModal.close()">
        </po-button>
        <po-button
            p-kind="primary"
            p-label="Confirmar"
            (p-click)="OnCreateSalesBudgetItem()"
            [p-disabled]="salesBudgetAddForm.form.invalid!">
        </po-button>
    </po-modal-footer>
</po-modal>
