<po-toolbar
    p-title="Olá Vendedor1, Bem-vindo!"
    [p-show-notification]="false">
</po-toolbar>

<po-page-default
    p-title="Inicio">
    <div class="po-row">
        <!-- Widget: Vendas recentes -->
        <po-widget
            class="po-md-12 po-lg-6"
            p-title="Vendas Realizadas Este Mes"
            [p-height]="cardHeight">
            <div class="po-text-center po-font-subtitle">
                {{salesRequestsItems.length}} Novas Vendas
            </div>

            <po-divider></po-divider>

            <po-table
                [p-hide-columns-manager]="true" 
                [p-sort]="true" 
                [p-striped]="true"
                [p-height]="tableHeight"
                [p-hide-text-overflow]="true"
                [p-columns]="salesRequestsColumns"
                [p-items]="salesRequestsItems">
            </po-table>
        </po-widget>

        <po-widget
            class="po-md-12 po-lg-6"
            p-title="Novos Clientes Este Mês"
            [p-height]="cardHeight">

            <div class="po-text-center po-font-subtitle">
                {{customersItems.length}} Novos Clientes
            </div>

            <po-divider></po-divider>

            <po-table
                [p-hide-columns-manager]="true" 
                [p-sort]="true" 
                [p-striped]="true"
                [p-height]="tableHeight"
                [p-hide-text-overflow]="true"
                [p-columns]="customersColumns"
                [p-items]="customersItems">
            </po-table>
        </po-widget>

    </div>
</po-page-default>
