<po-toolbar
    p-title="Olá Vendedor1, seja bem-vindo!"
    [p-show-notification]="false">
</po-toolbar>

<po-page-default>
    <div class="po-row">

        <!-- Widget: Tipo de pagamento mais usado -->
        <po-widget
            class="po-md-12 po-lg-4 po-mt-2"
            p-title="Forma de pagamento mais usada">
            <div class="po-font-subtitle po-text-center">
                Cartão de Crédito
            </div>
            <div class="po-text-center">
                MasterCard - 5500 0000 0000 0004
            </div>
        </po-widget>

        <!-- Widget: Meta de Vendas -->
        <po-widget
            class="po-md-12 po-lg-4 po-mt-2"
            p-title="Meta de vendas do mês">
            <div class="po-font-subtitle po-text-center">
                R$ 80.000
            </div>
            <div class="po-text-center">
                Atingido: R$ 52.300 (65%)
            </div>
        </po-widget>

        <!-- Widget: Última comissão gerada -->
        <po-widget
            class="po-md-12 po-lg-4 po-mt-2"
            p-title="Última comissão recebida">
            <div class="po-font-subtitle po-text-center">
                R$ 4.230
            </div>
            <div class="po-text-center">
                Referente ao mês de Março
            </div>
        </po-widget>

        <!-- Widget: Vendas recentes -->
        <!-- Widget: Vendas recentes -->
        <po-widget
            class="po-md-12 po-lg-6 po-mt-2"
            p-title="Últimas vendas realizadas">
            <div class="po-text-center">
                <div class="po-mb-2">
                    <po-icon name="money" class="po-mr-2"></po-icon>
                    <strong>Pedido #12345</strong> - R$ 1.200 <br>
                    <small
                        class="po-text-caption po-text-color-06">15/04</small>
                </div>
                <po-divider></po-divider>

                <div class="po-mb-2 po-mt-2">
                    <po-icon name="money" class="po-mr-2"></po-icon>
                    <strong>Pedido #12346</strong> - R$ 2.850 <br>
                    <small
                        class="po-text-caption po-text-color-06">14/04</small>
                </div>
                <po-divider></po-divider>

                <div class="po-mt-2">
                    <po-icon name="money" class="po-mr-2"></po-icon>
                    <strong>Pedido #12347</strong> - R$ 3.100 <br>
                    <small
                        class="po-text-caption po-text-color-06">13/04</small>
                </div>
            </div>
        </po-widget>

        <!-- Widget: Clientes novos no mês -->
        <!-- Widget: Clientes novos no mês -->
        <po-widget
            class="po-md-12 po-lg-6 po-mt-2"
            p-title="Novos clientes este mês">

            <div class="po-text-center po-font-subtitle">
                8 novos clientes
            </div>

            <div class="po-text-center po-mb-2">
                <small class="po-text-caption po-text-color-06">Meta do mês:
                    10</small>
            </div>

            <po-divider></po-divider>

            <div class="po-text po-mt-2">
                <po-icon name="user" class="po-mr-2"></po-icon>
                <strong>Loja SolarTech</strong> - 03/04
            </div>

            <div class="po-text po-mt-1">
                <po-icon name="user" class="po-mr-2"></po-icon>
                <strong>Comercial Nunes</strong> - 05/04
            </div>

            <div class="po-text po-mt-1">
                <po-icon name="user" class="po-mr-2"></po-icon>
                <strong>Distribuidora Alfa</strong> - 10/04
            </div>

            <div class="po-text po-mt-1">
                <po-icon name="user" class="po-mr-2"></po-icon>
                <strong>Mercadinho São João</strong> - 12/04
            </div>

            <div class="po-text-center po-mt-3">
                <po-button
                    p-label="Ver todos os clientes"
                    p-type="primary">
                </po-button>
            </div>
        </po-widget>

    </div>
</po-page-default>
