po-modal .po-modal-body {
    max-width: 95vw;
}

po-modal .po-modal-content {
    max-width: 95vw;
}

po-modal .po-modal-xl {
    width: 90%;
}

@media screen and (min-width: 992px) {
    po-modal .po-modal-xl {
        width: 75%;
    }
}