/*po-modal[class="salesRequestModal"] .po-modal-body{
    max-width: 95vw;
}

po-modal[class="salesRequestModal"] .po-modal-content {
    max-width: 95vw;
}

po-modal[class="salesRequestModal"] .po-modal-xl{
    width: 80%;
}*/