<!-- Modal De Inclusão de cabeçalho -->
<app-add-sales-budget-header-modal
    #addSalesBudgetHeaderModal
    (onAdd)="loadSalesBudgets()">
</app-add-sales-budget-header-modal>
<!-- Modal De Alteração Do Cabeçalho-->
<app-edit-sales-budget-header-modal
    #editSalesBudgetHeaderModal
    (onEdit)="loadSalesBudgets()">
</app-edit-sales-budget-header-modal>
<!-- Modal de confirmação de exclusão -->
<app-delete-confirmation-modal
    #deleteConfirmationModal
    (onDelete)="deleteItem()">
</app-delete-confirmation-modal>
<!-- Modal Para aprovar orçamento-->
<po-modal
    #salesBudgetAprovalModal
    p-title="Aprovar Orçamento">
    <p style="padding: 16px;">
        Tem certeza que deseja aprovar o orçamento <strong>{{ currentSalesBudgetInView?.orderNumber}} 
        </strong> para o cliente <strong>{{ currentSalesBudgetInView?.customerName}}</strong>?
    </p>
    <po-modal-footer [p-disabled-align]="false">
        <po-button
            p-label="Confirmar"
            p-kind="primary"
            (p-click)="aproveSalesBudget()">
        </po-button>
    </po-modal-footer>
</po-modal>

<!-- Pagina Principal -->
<po-page-dynamic-search
    p-title="Orçamentos De Venda"
    [p-actions]="pageActions"
    (p-change-disclaimers)="onResetSearch()"
    (p-quick-search)="onSearch($event)">
    <po-table
        p-container="true"
        [p-hide-columns-manager]="true"
        [p-sort]="true"
        [p-striped]="true"
        [p-columns]="salesBudgetsColumns"
        [p-items]="salesBudgetsItems"
        [p-height]="tableHeight"
        [p-hide-text-overflow]="true"
        [p-actions]="tableActions">
    </po-table>
</po-page-dynamic-search>